body {
  font-family: 'Raleway', sans-serif;
  background-color: gainsboro; }

header {
  width: 100%; }
  header img {
    width: 60px;
    height: 60px; }
    header img nav {
      background-color: gainsboro; }
      header img nav ul {
        list-style: none;
        display: flex; }
        header img nav ul ul li a {
          text-decoration: none;
          color: brown;
          font-size: 19px;
          font-weight: 600; }

main {
  background-color: grey;
  width: 100%; }

.hero h1 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 10px;
  color: brown;
  text-align: center; }

.intro h2 {
  text-align: center; }
  .intro h2 p {
    text-align: center;
    font-size: medium; }

.galeria {
  width: 98%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: 100px;
  gap: 30px; }
  .galeria div {
    transition: 1s; }
    .galeria div:hover {
      transform: scale(1.05); }
      .galeria div:hover img {
        width: 600px;
        height: 600px;
        object-fit: cover; }

.grid-items img {
  width: 600px;
  height: 600px;
  border: 2px solid black;
  margin: 5px;
  border-radius: 5px;
  color: black;
  background-color: gray; }

.adquirir {
  transition: 1s; }
  .adquirir:hover {
    transform: scale(1.05); }
    .adquirir:hover a {
      margin-bottom: 20px;
      text-decoration: none;
      background-color: black;
      color: brown;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 30px;
      font-size: 19px;
      font-weight: 500; }
      .adquirir:hover a:hover {
        color: white; }

footer {
  width: 100%;
  background-color: gainsboro;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer img {
    width: 50px;
    height: 50px; }
    footer img div h3 {
      font-size: 18px; }

.social {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .social div {
    transition: 1s; }
    .social div:hover {
      transform: scale(1.3); }
