@import "./base/generales";
@import "./base/mixins";
@import "./base/extends.scss";
@import "./components/footer";
@import "./components/header";
@import "./components/servicios";
@import "./components/_equipo";
@import "./components/contacto";
@import "./components/acercade";



body{
    font-family: 'Raleway', sans-serif;
    background-color: gainsboro;
}
main{
    background-color: grey;
    width: 100%;
}
.hero{
    h1{
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 10px;
        color: brown;
        text-align: center;
    }
}
.intro{
    h2{
        text-align: center;
        font-weight: 600;
        }
    }
.lorem{
    text-align: center;
    font-size: 18px;
    font-weight: 500px;
}
.galeria{
    width: 98%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: 100px;
    gap: 30px;
    div{
        transition: 1s;
        &:hover{
            transform: scale(1.05);
            img{
                width: 595px;
                height: 595px;
                object-fit: cover;
            }
        }
    }
}
.grid-items{
    img{
        width: 595px;
        height: 595px;
        border: 2px solid black;
        margin: 5px;
        border-radius: 5px;
        color: black;
        background-color: gray;
    }
}
.adquirir{
    @extend %flex.center;
    margin-bottom: 20px;
    background-color: black;
    color: brown;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 19px;
    font-weight: 500;
    transition: 1s;
    a{
        text-decoration: none;
        color: brown;
        &:hover{
        transform: scale(1.05);
            &:hover{
                color: white;
            }
        }
    }
}
@media screen and (max-width: 1885px) {
    .galeria{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: 100px;
        gap: 30px;
    }
}
@media screen and (max-width: 615px) {
    .grid-items{
        img{
            width: 300px;
            height: 300px;
        } 
    }
}
@media screen and (max-width: 1885px) {
    .adquirir{
        width: 95vw;
        margin-right:2.5vw;
        margin-left: 2.5vw;
    }
}

