@import "../base/generales";
@import "../base/mixins";
@import "../base/extends.scss";

.cont{
    @extend %flex.center;
    flex-direction: column;
}

.formulario{
    width: 320px;
    height: 610px;
    border: 1px solid white;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 200; 
}

.preguntas{
    text-align: center;
    width: 50vw;
    margin-bottom: 2vh;
}